
    <div class="ui sidebar inverted vertical menu">
      <a class="item">menu1</a>
      <a class="item">menu2</a>
      <a class="item">menu3</a>
      <a class="item">menu4</a>
    </div>
    <div class="pusher" style="margin-top:5em;padding:0em 20em">
      <div class="ui text container">
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui teal image header">
              <img id="menu" src="assets/img/logo.png" class="image">
              <div class="content">Login</div>
              <img src="assets/img/logo.png" class="image">
            </h2>
            <form class="ui large form">
              <div class="ui stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="email" placeholder="E-mail address">
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password">
                  </div>
                </div>
                <div class="ui fluid large teal submit button">Login</div>
              </div>
              <div class="ui error message"></div>
            </form>
            <div class="ui message">New to us ?<a href="#" style="margin-left:8px">Sign Up</a></div>
          </div>
        </div>
      </div>
    </div>
  <script>
    $("#menu").click(function(){
        alert("클릭");
        $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
    })
  </script>
